
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script src="../static/js/vue.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="../static/plugin/myPagination.css" />


<style>
  td {
    padding:5px 5px 5px 0px;
  }
</style>

<title>指令列表</title>
</head>
<body>

<div id="app" class="page-container" >

    <div class="mt-20" style="margin-top:-10px">
      <table class="table table-border  table-bg table-hover " >
        <thead>
          <tr class="text-c">
            <th  style="text-align:left" width="50px">编号</th>
            <th  style="text-align:left" width="150px">名称</th>
            <th style="text-align:left" >指令脚本</th>
            <th width="80px">
              操作
              <a v-on:click="toAddMode()" title="新增传感器">
                <i class="Hui-iconfont" style="font-size:1em;">&#xe600;</i>
              </a>
              <a onclick="loadData()" title="刷新">
                <i class="Hui-iconfont" style="font-size:1em">&#xe68f;</i>
              </a>
            </th>
          </tr>
        </thead>
        <tbody id="table_rows">

          <tr class="text-c"  :style="'display:' +(isAddMode?'':'none')" >
            <td style="text-align:left">
              <input v-model="newItem.cmdNo" name="" type="text" placeholder="" class="input-text  size-S" style="width:50px;"  />
            </td>
            <td style="text-align:left">
              <input v-model="newItem.cmdName" name="" type="text" placeholder="" class="input-text  size-S" style="width:150px" />
            </td>
            <td style="text-align:left">
              <input v-model="newItem.scriptText" name="" type="text" placeholder="" class="input-text  size-S" style="width:150px" />
            </td>
            <td>
              <a title="确定" v-on:click="addCmd()">
                <i class="Hui-iconfont" style="font-size:1.5em;color:green">&#xe6a7;</i>
              </a>
              <a title="取消" v-on:click="cancelAddMode()">
                <i class="Hui-iconfont" style="font-size:1.5em;">&#xe6a6;</i>
              </a>

            </td>
          </tr>
          <template v-for="item in cmdList">

            <tr class="text-c">
            <td style="text-align:left">
                <div :style="'display:' + (item.isEdit?'block':'none')" >
                  <input v-model="item.cmdNo" name="" type="text" placeholder="" class="input-text  size-S" style="width:50px;"  />
                </div>
                <div :style="'display:' + (!item.isEdit?'block':'none')" >
                  {{item.cmdNo}}
                </div>
            </td>
            <td style="text-align:left">
              <div :style="'display:' + (item.isEdit?'block':'none')" >
                <input v-model="item.cmdName" name="" type="text" placeholder="" class="input-text  size-S" style="width:150px" />
              </div>
              <div :style="'display:' + (!item.isEdit?'block':'none')" >
                {{item.cmdName}}
              </div>
            </td>
            <td style="text-align:left">
              <div :style="'display:' + (item.isEdit?'block':'none')" >
                <input v-model="item.scriptText" name="" type="text" placeholder="" class="input-text  size-S" style="width:150px" />
              </div>
              <div :style="'display:' + (!item.isEdit?'block':'none')" >
                {{item.scriptText}}
              </div>
            </td>
            <td>
              <div :style="'display:' + (!item.isEdit?'block':'none')" >
                <a title="修改" v-on:click="toEditMode(item.cmdId)">
                  <i class="Hui-iconfont" style="font-size:1.5em;">&#xe6df;</i></a>
              </div>
              <div :style="'display:' + (item.isEdit?'block':'none')" >
                <a title="确定" v-on:click="updateCmd(item.cmdId)">
                  <i class="Hui-iconfont" style="font-size:1.5em;color:green">&#xe6a7;</i>
                </a>
                <a title="删除" v-on:click="deleteCmd(item.cmdId)">
                  <i class="Hui-iconfont" style="font-size:1.5em;color:red">&#xe6a1;</i>
                </a>
                <a title="取消" v-on:click="cancelEditMode(item.cmdId)">
                  <i class="Hui-iconfont" style="font-size:1.5em;">&#xe6a6;</i>
                </a>

              </div>
            </td>
            </tr>

          </template>
        </tbody>
      </table>
      <table>
        <tr>
          <td align="right" >
            <div id="pagination" class="pagination" :style="'display:'+ (pageOption.pageTotal<2?'none':'inline-block')" >
            </div>
          </td>
        </tr>
      </table>


    </div>
    <!-- app end -->



<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/plugin/myPagination.js?v=4"></script>


<script type="text/javascript" src="common/constant.js?v=6"></script>
<script type="text/javascript" src="common/common.js?v=8"></script>
<script type="text/javascript" src="cmdList.js?v=2"></script>

</body>
</html>
