
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<script src="../static/js/vue.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />

<style>
  td {
    padding:5px 5px 5px 0px
  }
  .online{color:#00FF00}
  .offline{color:#FF0000}
</style>

<title>组态列表</title>
</head>
<body>

<div id="app" class="page-container">

    <div class="mt-20" style="margin-top:0px">

      <table class="table table-border  table-bg table-hover table-sort table-responsive">
        <thead>
          <tr class="text-c">
              <th style="text-align:left;" width="30px">
                No.
              </th>
              <th style="text-align:left;" width="100px">
                title / device
              </th>
              <th style="text-align:left;" >
                summary
              </th>
              <th style="text-align:left;" >
                command
              </th>
              <th width="80px">
                {{lastLoadTimeShort}}
                <a onclick="loadData()" :title="'刷新('+lastLoadTime + ')'">
                  <i class="Hui-iconfont" style="font-size:1em">&#xe68f;</i>
                </a>
              </th>
          </tr>
        </thead>
        <tbody id="table_rows">

          <template v-for="item in projectList">

            <tr class="text-c">
                <td style="text-align:left">{{item.seq}}</td>
                <td style="text-align:left">

                    <a :id="'91'+item.projectId" 
                        :data-href="'app/uiconfigList.html?projectId='+item.projectId" 
                        :data-title="'组态（' + item.title + '）'" 
                        :href="'javascript:Hui_admin_tab(document.getElementById(' + '91' + item.projectId + '))'" 
                        title="组态">


                        {{item.title}}
                    </a>
                    
                    <ul>
                    <template v-for="key in Object.keys(item.deviceSnList)">
                      <li>
                          <span class="label radius left-space">
                              {{item.deviceSnList[key].name}}({{key}})
                              <label  style="font-size:1.5em" :class="item.deviceSnList[key].status + 'line'">● </label>
                              </span>
                     
                      </li>
                    </template>
                  </ul>
                </td>
                <td style="text-align:left">
                  
                  <ul>
                      <template v-for="field in item.cover">
                        
                          <template v-if="!(field.nowrap&&field.nowrap=='true')"><li></template>
                            
                          {{field.name}}:
                          <span @click="showGraph(item.deviceSnList[field.deviceSn].id, field.sensorNo, field.field)" class="label label-default radius">
                            {{field.data?field.data.val:''}}
                          </span>
                          {{field.data?field.data.unit:''}}
                          {{field.data?field.data.agoTime:''}}
                          <template v-if="!(field.nowrap&&field.nowrap=='true')"></li></template>
                      </template>
                  </ul>
                
                </td>
                <td style="text-align:left">
                <ul>
                    <template v-for="cmd in item.coverCmd">

                        <template v-if="!(cmd.nowrap&&cmd.nowrap=='true')"><li></template>
                        <span class="label label-default radius" v-on:click="sendCmd(cmd.deviceSn, cmd.cmd)" style="cursor:pointer;">
                            {{cmd.name}}
                        
                        </span>
                      
                        <template v-if="!(cmd.nowrap&&cmd.nowrap=='true')"></li></template>
                    </template>

                </ul>
                </td>
                <td>

                </td>
            </tr>

          </template>
        </tbody>
      </table>
    </div>


  <div id="modal-graph" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content radius">
        <div class="modal-header" style="height:8px;margin-top:-15px;">
          <p style="margin-top:5px;">24小时过程线</p>
          <a style="font-size:2em;margin-top:-10px" class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
        </div>
        <div class="modal-body" style="margin-top:-15px;">
            <iframe width="100%" height="250px" frameborder="0"  :src="graphSrc" ></iframe>

        </div>
      </div>
    </div>

  </div>
</div> <!-- app -->
 


<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>


<script type="text/javascript" src="common/constant.js?v=11"></script>
<script type="text/javascript" src="common/common.js?v=11"></script>
<script type="text/javascript" src="uiconfigList.js?v=83"></script>



</body>
</html>

<script>
  
function Hui_admin_tab2(obj){

  alert($(obj).attr("title"));
	var bStop = false,
		bStopIndex = 0,
		href = $(obj).attr('data-href'),
		title = $(obj).attr("data-title"),
		topWindow = $(window.parent.document),
		show_navLi = topWindow.find("#min_title_list li"),
		iframe_box = topWindow.find("#iframe_box");
	//console.log(topWindow);
	if(!href||href==""){
		alert("data-href不存在，v2.5版本之前用_href属性，升级后请改为data-href属性");
    return false;
  }
}
</script>